@import 'bourbon/bourbon';
@import 'neat/neat';

html, body {
	margin: 0px;
}

nav {
	@include outer-container();
	background-color: #C6CEE0;
	height: 50px;
}

nav {
	li {
		@include span-columns(3);
		line-height: 35px;
		margin-left: 15px;
	}
	a {
		vertical-align: -webkit-baseline-middle;
	}
}
